body{
    margin: 0px;
}
.listed-member{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 20px;
}
