*{
    box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
body{
	margin: 0px;
}
.contact-img{
	width: 100%;
  height: 60vh;
  object-fit: cover;
  display: block;
}
@media screen and (max-width: 600px) {
	.contact-img{
		height: 20vh;
		width: 100%;
	}
}
.contact-main-container{  
    margin-left: 64px;
    margin-top: 26px;
}
@media screen and (max-width: 600px) {
	.contact-main-container{
		margin-left: 17px;
		margin-bottom: 13px;
	}
}
.contact-heading{
    margin: 13px;
    font-size: 32px;
	padding-left: 10px;
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52vw;
    margin-left: 10px;
}
@media screen and (max-width: 600px) {
	.contact-container{
		flex-direction: column;
		align-items: start;
    	justify-content: start;
		margin-left: 12px;
	}
}
.contact-way{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
	margin: 10px;
}
.icon-footer{
	height: 22px;
}
.img-and-form-container{
    display: flex;
    padding: 10px;
    margin-left: 64px;
}
@media screen and (max-width: 600px) {
	.img-and-form-container{
		margin-left: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
.img-container{
    width: 40vw;
    margin: 10px;
}
@media screen and (max-width: 600px) {
	.img-container{
		display: none;
	}
}
.cont-img{
    width: 40vw;
    height: 80vh;
}
.input-container{
	background-color: #fff;
	width: 20vw;
	margin: 10px;
	padding: 10px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0 0 15px 0 #737574;
	
}
@media screen and (max-width: 600px) {
	.input-container{
		width: 80vw;
	}
}
.label{
	font-size: 15px;
    font-weight: bold;
}
@media screen and(max-width: 600px) {
	.label{
		font-size: 10px;
		max-width: 350px;
		width: 350px;
		
	}
}
.required{
	color: red;
}
.input{
	width: 16vw;
	height: 43px;
	border-width: 0px;
	padding: 8px;
    border-width: 0px;
	margin-bottom: 17px;
	background-color: transparent;
	border-bottom: solid 1px;
}
@media screen and (max-width: 600px) {
	.input{
		width: 64vw;
	}
}
.two-input-container{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 600px) {
	.two-input-container{
		display: inline;
		align-items: start;
	}
}
.input-two{
	background-color: #fff;
	width: 42vw;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 15px 0 #737574;
	border-top-right-radius: 22px;
	border-bottom-left-radius: 22px;
	

}
@media screen and (max-width: 600px) {
	.input-two{
		width: 80vw;
	}
}
.textarea{
	margin: 12px;
	border-width: 0px;
	width: 37vw;
	padding: 5px;
}
@media screen and (max-width: 600px) {
	.textarea{
		width: 63vw;
	}
}
.btn-container{
    text-align: center;
    margin-top: 25px;
}