body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  padding: 20px;
}

.faq-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  display: block; /* Ensure no space below image */
}

@media screen and (max-width: 600px) {
  .faq-img {
    height: 20vh;
    width: 100%;
  }
}

.faq-container {
  margin-top: 20px;
  margin: 13px;
}

.faq-heading {
  font-size: 3rem;
  margin-bottom: 30px;
  margin-top: 60px;
  font-weight: bold;
  text-align: center;
}

.question-wrapper {
  margin-bottom: 20px;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.question {
  font-size: 1.2em;
  margin: 0;
}

.plus {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0;
}

.ans-wrapper {
  padding: 10px 0;
}

.ans-container {
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 3px solid #333;
}

.ans {
  margin: 0;
}
